header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/method2020.jpg);
    background-size: cover;
}
.rty {
    height: 1080px;
    
}
.header-nav {
    background-color: #000000;
    border-radius: 12px;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
.header-nav ul li {
    padding: 10px 15px;
    list-style: none
}
.header-nav ul li a {
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-menu__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-menu__logo img {
    height: 100px;
    width: 100px;
}
.header-menu__logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-menu__logo-text p {
    line-height: 5px;
}
.header-menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: 700;
}
.header-menu__link-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-menu__link-icon a img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}
.header-menu__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    text-align: right;
    font-weight: 700;
}
.header-menu__phone a {
    color: gray !important;
    font-weight: 700;
}
.text h1{
    color: #000000;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: 72px;
    margin: 370px 0px;
    max-width: 1320px;
    max-height: 100px;
    word-break:break-all;
    text-shadow: 0 0 10px white,0 0 20px white,0 0 30px red,0 0 40px red;
}
.product{
    min-height: 800px;
    background-image: url(img/smoke-texture-wallpaper-dark-background.jpg);
    background-size: cover;
}
.product-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item{
    width: 320px;
    height: auto;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin: 3px 0;

}
.product-item img{
    width: 320px;
    max-height: 300px;

}

.product-list a{
    width: 270px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 5px 50px;
    border-radius: 12px;
    text-decoration: none;
}
.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    padding: 60px;
    margin: 60px;
}
.footer{
    height: 400px;
    background-image: url(img/5822158.png);
    background-size: cover;
}
.footer-item{
    list-style: none;

}
.footer-item h3{
    color:white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;

}
.footer-item h3:hover{
    color:white;
    transition: 0.2s;
    text-shadow: 0 0 10px white,0 0 20px white,0 0 30px red,0 0 40px red;
}
.footer-item img{
    height: 50px;
}
.product-item a:hover{
    color:grey;
    transition: 0.2s;
    text-decoration: none;
}
.header-nav a:hover{
    color:grey;
    transition: 0.2s;
    text-decoration: none;
}
.text h1:hover{
    transition: 0.4s;
    text-decoration: none;
    text-shadow: 0 0 10px white,0 0 20px white,0 0 30px white,0 0 40px white;
}















@media screen and (max-width: 767px) {
    .product-list{
        justify-content: center;
    }
}
